<%= link_to 'Back to meals', user_path(session[:current_user]) %>
<h2><%= @meal.name %></h2>
<%= link_to '+ Food', add_food_meal_path(@meal) %><br>
<hr>
<% @meal.foods.each do |food| %>
	<li><%= link_to food.name, food %></li>
<% end %>