/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(//fonts.googleapis.com/css?family=Righteous);
 @import url(//fonts.googleapis.com/css?family=Revalia);
 @import url(http://fonts.googleapis.com/css?family=Indie+Flower);
 @import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
 @import url(http://fonts.googleapis.com/css?family=Architects+Daughter);



 body {
 	background-image: url('background_main.png');
 }

#food_form a {
	padding: 40px, 0px, 20px, 0px;
}

#session_title {
  box-sizing: content-box;
  background-image: url(<%= /images/title_bg2.png 'title_bg2.png' %>);
  border: 2px solid black;
  border-radius: 17px;
  font-family: "Revalia";
  font-weight: bold;
  color: #85daef;
  text-overflow: ellipsis;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 273px;
  padding-left:12px;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,1);
}

#sign_in_nav {
  box-sizing: content-box;
	background-image: url(<%= /images/title_background1.png 'title_background1.png' %>);
	height: 100px;
	width: 190px;
  position: relative;
	margin-top: 60px;
	margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-radius: 17px;
  font-family: "Annie Use Your Telescope";
  font-size: 120%;
  color: black;
  text-overflow: ellipsis;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,1);
}

#login_link {
	margin-left: 35px;
  margin-top: 100px;
}

#logout_link {
	margin-left: 60px;
}

#login_form {
  box-sizing: content-box;
  background-image: url(<%= /images/title_background4.png 'title_background4.png' %>);
  border: 2px solid;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 170px;
  padding-top: 30px;
  padding-left: 120px;
  border-radius: 17px;
  font-family:"Annie Use Your Telescope";
  color: black;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,1);
  text-overflow: ellipsis; 
}

#create_user {
  box-sizing: content-box;
  background-image: url(<%= /images/title_background4.png 'title_background4.png' %>);
  border: 2px solid;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 310px;
  padding-top: 30px;
  padding-left: 50px;
  border-radius: 17px;
  font-family: "Annie Use Your Telescope";
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,1);
  text-overflow: ellipsis;
}

#username, #password, #username_input, #password_input,
#full_name_create, #username_create, #password_create,
#password_confirmation_create {
  box-sizing: content-box;
  border: none;
  padding-bottom: 5px;
  border-radius: 17px;
  font-family: "Annie Use Your Telescope";
  color: #5bcdb8;
  text-overflow: ellipsis;
}

#meal_recorder h1 {
	font-family: 'Righteous', cursive;
  border: 5px solid;
  width: 150px;
  background-image: url(<%= /images/meal_background1 'meal_background1.png' %>);
}

#meal_profile h1 {
  font-family: 'Righteous', cursive;
  border: 5px solid;
  width: 150px;
  background-image: url(<%= /images/meal_background1 'meal_background1.png' %>);
}

.to_start_button a, .new_meal_button a {
  text-decoration: none !important;
}

.to_start_button, .new_meal_button {
  width: 60px;
}

.single_meal {
  background-image: url(<%= /images/food_background2 'food_background2.png' %>);
  position: relative;
  border: 2px solid;
  border-radius: 20px;
  width: 150px;
  padding-left: 15px;
  list-style-type: none;
  text-align: center;
  margin-top: 2vw;
  margin-left: 43vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 120%;
}

.single_meal a {
  text-decoration: none;
  color: black;
  font-size: 125%;
  font-family: 'Indie Flower';
}

.back_meals_button {
  width: 80px;
  height: 50px;
  border-radius: 15px;
  margin-top: 40px;
  margin-left: 350px;
}

.back_meals_button a {
  text-decoration: none;
}

#meal_name {
  box-sizing: content-box;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Indie Flower';
  font-size: 200%;
  font-weight: bold;
  color: black;
  text-overflow: ellipsis;
  position: relative;
  margin-top: 40px;
  margin-left: 50px;
  width: 150px;
  height: 50px;
}

a#meal_name {
  background-image: url(<%= /images/bluewood 'bluewood.png' %>);
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
}

#meal_create {
  margin-left: 50px;
  margin-top: 10px;
}

#meal_form {
  box-sizing: content-box;
  background-image: url(<%= /images/greenwood 'greenwood.png' %>);
  background-repeat: repeat-x, repeat;
  border: 2px solid;
  position: relative;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 250px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 17px;
  font-family: "Annie Use Your Telescope";
  font-size: 100%;
  color: black;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,1);
  text-overflow: ellipsis; 
}

.to_meal_profile a {
  text-decoration: none;
  color: black;
}

#food_form {
  box-sizing: content-box;
  background-image: url(<%= /images/greenwood 'greenwood.png' %>);
  background-repeat: repeat-x, repeat;
  border: 2px solid;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 480px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 17px;
  font-family: "Annie Use Your Telescope";
  font-size: 100%;
  color: black;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.2);
  text-overflow: ellipsis; 
}

.food_info {
  width: 100px;
}

.food_info a {
  text-decoration: none;
  color: black;
  font-family: 'Architects Daughter', cursive;
  font-size: 110%;
}

#show_food {
  box-sizing: content-box;
  background-image: url(<%= /images/bluewood 'bluewood.png' %>);
  background-repeat: repeat-x, repeat;
  border: 2px solid;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 600px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 17px;
  font-family: "Annie Use Your Telescope";
  font-size: 120%;
  color: black;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,1);
  text-overflow: ellipsis;
}

.to_meals {
  width: 120px;
}
.to_meals a {
  text-decoration: none;
  color: black;
  font-size: 110%;
  font-family: 'Architects Daughter', cursive;
}

.add_food {
  width: 100px;
}

.add_food a{
  text-decoration: none;
  color: black;
  font-size: 110%;
  font-family: 'Architects Daughter', cursive;
}

h2.food_name {
  font-family: "Annie Use Your Telescope";
  font-size: 200%;
  border: 2px solid;
  background-color: white;
  width: 100px;
  padding-left: 5px;
}

.single_food {
  background-image: url(<%= /images/food_background1 'food_background1.png' %>);
  position: relative;
  border: 2px solid;
  border-radius: 20px;
  width: 150px;
  padding-left: 15px;
  list-style-type: none;
  text-align: center;
  margin-top: 2vw;
  margin-left: 43vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 120%;
}

.single_food a {
  text-decoration: none;
  color: black;
  font-size: 125%;
  font-family: 'Indie Flower';
}

#meals_button {
  width: 40px;
  margin-bottom: 10px;
}

#meal_button {
  width: 35px;
}
