/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(//fonts.googleapis.com/css?family=Righteous);
 @import url(//fonts.googleapis.com/css?family=Revalia);



 body {
 	background-image: url('background_main.png');
 }

#food_form a {
	padding: 40px, 0px, 20px, 0px;
}

#session_title {
  box-sizing: content-box;
  background-image: url('title_background2.png');
  border: 5px solid black;
  border-radius: 17px;
  font: normal 16px/1 "Revalia", Helvetica, sans-serif;
  font-weight: bold;
  color: #85daef;
  text-overflow: ellipsis;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 273px;
  padding-left:12px;
}

#sign_in_nav {
  box-sizing: content-box;
	background-image: url('title_background1.png');
	height: 90px;
	width: 188px;
  position: relative;
	margin-top: 60px;
	margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-radius: 17px;
  font: normal 16px/1 "Annie Use Your Telescope", Helvetica, sans-serif;
  color: black;
  text-overflow: ellipsis;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.2);
}

#login_link {
	margin-left: 12px;
}

#logout_link {
	margin-left: 15px;
}

#login_form {
  box-sizing: content-box;
  background-image: url('title_background4.png');
  border: 2px solid;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 170px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 17px;
  font: normal 16px/1 "Annie Use Your Telescope", Helvetica, sans-serif;
  color: black;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.2);
  text-overflow: ellipsis; 
}

#create_user {
  box-sizing: content-box;
  background-image: url('title_background4.png');
  border: 2px solid;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 250px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 17px;
  font: normal 16px/1 "Annie Use Your Telescope", Helvetica, sans-serif;
  color: black;
  box-shadow: 50px 50px 75px 30px rgba(94,89,89,0.2);
  text-overflow: ellipsis;
}

#username, #password, #username_input, #password_input,
#full_name_create, #username_create, #password_create,
#password_confirmation_create {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  padding-bottom: 5px;
  /*-webkit-border-radius: 17px;*/
  /*border-radius: 17px;*/
  font: normal 16px/1 "Annie Use Your Telescope", Helvetica, sans-serif;
  color: #5bcdb8;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.2) ;
  box-shadow: 4px 4px 9px 2px rgba(0,0,0,0.2);
}

#meal_recorder h1 {
	font-family: 'Righteous', cursive;
}

#meal_profile h1 {
  font-family: 'Righteous', cursive;
}

.to_start_button a, .new_meal_button a {
  text-decoration: none !important;
}

.to_start_button, .new_meal_button {
  width: 60px;
}

.single_meal {
  border: 2px solid;
  width: 150px;
  padding-left: 15px;
  list-style-type: none;
  text-align: center;
}

.single_meal a {
  text-decoration: none;
}
